body{
	margin: 0px;
}

/*Body Header*/

#body-header{
	height: 65vh;
	/*opacity: 0.6;*/
	background-image: url(playground-07.png);
	background-size: cover;
	background-position: center;
	padding-top: 2rem;
	position: sticky;
	/*background-attachment: fixed;*/
}

/*Horizontal Lists on top*/

.horizontal-list{
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.horizontal-list li{
	display: inline-block;
	margin: 0px 8px 8px 0px;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.horizontal-list li a:hover{
	/*box-shadow: 0px 0px 6px 4px white;*/
	color: lightcyan;
	font-size: 22px;
	transition: color 0.5s, font-size 0.5s;
}

.text-decoration-underline li a:hover{
	text-decoration: underline;
	/*transition: text-decoration 0.5s;*/
}

.text-center{
	text-align: center;
}

/*For the name and social icon section*/
#name-social-container{
	margin-top: 20vh;
}
#name{
	font-size:5rem;
	letter-spacing:0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0.5rem;
	font-style: italic;
	font-family: lucida calligraphy;
}
.icon-setting li a i{
	/*letter-spacing: 1.5rem;*/
	padding: 20px;
	font-size: 1.5rem;
	border-radius: 50%;
}
.icon-setting li a i:hover{
	box-shadow: 0px 0px 6px 3px black;
}

/*Design of sections*/

section{
	width: 100%;
	/*height: 75rem;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n){
	background-color: #ede7e7;
}

section:nth-child(2n + 1){
	background-color: white;
}

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;
}

.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}

/*"About" Section*/

#about{
	height: auto;
	position:relative;
}

#my-image{
	height:12rem;
	width:12rem;
	margin: auto;
	margin-top: -15vh;
}
#my-image img{
	height: 100%;
	width:90%;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 7px black;
}
#about-para{
	height:100%;
	width:50%;
	padding:10px;
	margin: auto;
	font-family: Verdana;
	font-size: 20px;
	text-align: justify;
}

/*Printing Skills by using flex*/

.skills-display{
	width: 50%;
	/*height: 100px;
	border: 2px solid black;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skill-progress{
	width: 9rem;
	height: 1.4rem;
	margin-bottom: 20px;
	margin-right: 20px;
	background-color: lightgrey;
	border-radius: 0.8rem;
	border: 2px solid black;
}

.skill-progress>div{
	border-radius: 20px 0px 0px 20px;
}
.skill-name span{
	color: white;
	font-size: 1.2rem;
	margin-left: 5px;
	/*padding-top: 0.4rem;*/
}

/*Work Experience*/

/*Timeline*/
.timeline{
	position: relative;
	width: 75%;
	/*border: 2px solid black;*/
	font-size: 30px;
	/*background-color: green;*/
}

.timeline-box{
	position: relative;
	margin: 5px;
	width: 40%;
	left: 5%;
	min-height: 150px;
	/*border: 2px solid black;*/
	/*background-color: yellow;*/
	padding-left: 20px;
}

.timeline-box:nth-child(2n){
	left:53%;
}

.timeline-box:nth-child(2n+1)::after{
	content: '';
	position: absolute;
	top: 30%;
	right: -8%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	z-index: 1;
}

.timeline-box:nth-child(2n)::after{
	content: '';
	position: absolute;
	top: 30%;
	left: -9%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	z-index:1;
}

.timeline-divider{
	position: absolute;
	height: 75%;
	width: 0;
	border: 3px dashed blue;
	top: 10%;
	left: 50%;
}

@media screen and (max-width: 600px){
	.timeline-divider{
		left: 5%;
	}
	.timeline-box{
		left: 12%;
		width:80%;
	}
	.timeline-box:nth-child(2n){
	left:12%;
	}

	.timeline-box:nth-child(2n+1)::after{
	left:-9%;
	}
}

.timeline-traveller{
	position: sticky;
	top: 25%;
	transform: rotate(90deg);
	z-index: 2;
}
.year-highlight{
	position: relative;
	margin: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 50px;
}

.organisation-name{
	font-size:30px;
	margin:10px;
	/*padding:20px;*/
}

.education-para{
	border: 10px;
	font-size: 20px;
	margin: 10px;
}

.education-timeline-traveller{
	position: sticky;
	/*left: 10%;*/
	top: 25%;
	z-index: 2;
}

.portfolio-icons{
	font-size: 150px;
	margin: 50px;
}
.portfolio-icons:hover{
	font-size: 200px;
	margin: 50px;
}
#contact{
	display: flex;
	flex-direction: row;
}
#contact .contact-details{
	position: relative;
	margin: 5px;
	width: 40%;
	left: 5%;
	min-height: 150px;
	/*border: 2px solid black;*/
	/*background-color: yellow;*/
	padding-left: 20px;
	padding-bottom: 100px;
	background-color: red;

}
#contact .queries{
	position: relative;
	margin: 5px;
	width: 40%;
	left: 5%;
	min-height: 150px;
	/*border: 2px solid black;*/
	/*background-color: yellow;*/
	padding-left: 20px;
	padding-bottom: 100px;
	background-color: green;
}
.c1{
	margin-left: 30px;
	font-size: 20px;
}
.c2{
	margin-left: 34px;
	font-size: 20px;
}
.c3{
	font-size: 20px;
	margin-left: 30px;
}
.c4{
	font-size: 20px;
	margin-left: 75px;
}
.c5{
	font-size: 20px;
	margin-left: 30px;
}
.c6{
	font-size: 20px;
	margin-left: 70px;
}
.c7{
	font-size: 20px;
	margin-left: 175px;
}
.mb75px{
	margin-bottom: 75px;
}

/*colors*/
.mb-blue{
	background-color: blue;
}
.mb-green{
	background-color: green;
}
.mb-yellow{
	background-color: yellow;
}
.mb-violet{
	background-color: violet;
}
.mb-orange{
	background-color: orange;
}
.mb-cyan{
	background-color: cyan;
}
.mb-red{
	background-color: red;
}
.mb-purple{
	background-color: purple;
}

/*percentages*/
.eighty-five-percent{
	width: 85%;
	height: inherit;
	border-radius: inherit;
}
.fifty-five-percent{
	width: 55%;
	height: inherit;
	border-radius: inherit;
}
.seventy-percent{
	width: 70%;
	height: inherit;
	border-radius: inherit;
}
.sixty-percent{
	width: 60%;
	height: inherit;
	border-radius: inherit;
}
.Sixty-five-percent{
	width: 65%;
	height: inherit;
	border-radius: inherit;
}
.eighty-percent{
	width: 80%;
	height: inherit;
	border-radius: inherit;
}
.ninety-five-percent{
	width: 95%;
	height: inherit;
	border-radius: inherit;
}